#Cython #Deve ser instalado numa etapa anterior a instalacao do pycocotools
lxml
#matplotlib
numpy
opencv-python
pandas
#Pillow
#pycocotools workaround de compatibilidade para Python 3
#git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI
scikit-image
#shutil
tensorflow==1.15
#tensorflow-serving-api==1.15
